In [1]:
# HeroesOfPymoli by Anis Ali

In [2]:
# Initialize
import pandas as pd

In [72]:
pymoli = 'Resources/purchase_data.csv'
pymoli_df = pd.read_csv(pymoli)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [66]:
#Finding the total player count

#print(pymoli_df.count())
#print(pymoli_df.dtypes)
player_count = len(pymoli_df['SN'].unique())
print(f'Total number of players is {player_count}');

pd.DataFrame({"Total Players": [player_count]
             })

Total number of players is 576

   Total Players
0            576

In [83]:
#Purchasing Analysis: Total Revenue

total_sales = pymoli_df['Price']
total_rev = total_sales.sum()

In [68]:
#Purchasing Analysis: Number of unique items

unique_items = len(pymoli_df['Item Name'].unique())

In [69]:
#Purchasing Analysis: Number of purchases

total_purchases = len(pymoli_df['Purchase ID'])

In [70]:
#Purchasing Analysis: Average price

average_price = round((total_rev / total_purchases),2)

In [84]:
#Purchasing Analysis: Clean up

# print(f'Number of Unique Items: {unique_items}')
# print(f'Average Price: ${average_price}')
# print(f'Number of Purchases: {total_purchases}')
# print(f'Total Revenue: ${total_rev}')

pd.DataFrame({"Number of Unique Items": [unique_items],
              "Average Price": [average_price],
              "Number of Purchases": [total_purchases],
              "Total Revenue": [total_rev]
             })

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [65]:
# Gender Demographics:: Male

male_df = pymoli_df.loc[pymoli_df.Gender == 'Male', :]
total_male = len(male_df['SN'].unique())
male_df;

In [64]:
# Gender Demographics: Female

female_df = pymoli_df.loc[pymoli_df.Gender == 'Female', :]
total_female = len(female_df['SN'].unique())
female_df;

In [63]:
# Gender Demographics: Other

other_df = pymoli_df.loc[pymoli_df.Gender == 'Other / Non-Disclosed', :]
total_other = len(other_df['SN'].unique())
other_df;

In [62]:
# Gender Demographics - Clean up
# Percentage of Players: Male
pcent_male = round(((total_male/player_count) * 100), 2)
# print(f'Male Total: {total_male} & {pcent_male}')

# Percentage of Players: Female
pcent_female = round(((total_female/player_count) * 100), 2)
# print(f'Female Total: {total_female} & {pcent_female}')

# Percentage of Players: Other
pcent_other = round(((total_other/player_count) * 100), 2)
# print(f'Other Total: {total_other} & {pcent_other}')

gen_index = ['Male', 'Female', 'Other / Non-Disclosed']

pd.DataFrame({"Total Count": [total_male, total_female, total_other],
              "Percentage of Players": [pcent_male, total_female, total_other]
             }, index=gen_index)

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  81.00
Other / Non-Disclosed           11                  11.00

In [89]:
#  Purchasing Analysis (Gender) - Purchase Counts

male_purchase = len(male_df)
female_purchase = len(female_df)
other_purchase = len(other_df)

In [94]:
#  Purchasing Analysis (Gender) - Total Purchase Value

male_total_sales = male_df['Price']
male_total_rev = male_total_sales.sum()

female_total_sales = female_df['Price']
female_total_rev = female_total_sales.sum()

other_total_sales = other_df['Price']
other_total_rev = other_total_sales.sum()

In [101]:
#  Purchasing Analysis (Gender) - Avg Purchase Price

avg_male_price = round((male_total_rev/male_purchase),2)
avg_female_price = round((female_total_rev/female_purchase),2)
avg_other_price = round((other_total_rev/other_purchase),2)

In [ ]:
#  Purchasing Analysis (Gender) - Avg Total Purchase per Person

avg_tot_per_male =

In [102]:
gen_index = ['Male', 'Female', 'Other / Non-Disclosed']
pd.DataFrame({"Purchase Count": [male_purchase,female_purchase,other_purchase],
              "Average Purchase Price": [avg_male_price,avg_female_price,avg_other_price],
              "Total Purchase Value": [male_total_rev,female_total_rev,other_total_rev],
              "Avg Total Purchase per Person": [0,0,0]
             }, index=gen_index)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.02,1967.64,0
Female,113,3.20,361.94,0
Other / Non-Disclosed,15,3.35,50.19,0