In [1]:
# HeroesOfPymoli by Anis Ali

In [2]:
# Initialize
import pandas as pd

In [3]:
pymoli = 'Resources/purchase_data.csv'
pymoli_df = pd.read_csv(pymoli)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Finding the total player count

#print(pymoli_df.count())
#print(pymoli_df.dtypes)
player_count = len(pymoli_df['SN'].unique())
print(f'Total number of players is {player_count}');

pd.DataFrame({"Total Players": [player_count]
             })

Total number of players is 576

   Total Players
0            576

In [5]:
#Purchasing Analysis: Total Revenue

total_sales = pymoli_df['Price']
total_rev = total_sales.sum()

In [6]:
#Purchasing Analysis: Number of unique items

unique_items = len(pymoli_df['Item Name'].unique())

In [7]:
#Purchasing Analysis: Number of purchases

total_purchases = len(pymoli_df['Purchase ID'])

In [8]:
#Purchasing Analysis: Average price

average_price = round((total_rev / total_purchases),2)

In [9]:
#Purchasing Analysis: Clean up

# print(f'Number of Unique Items: {unique_items}')
# print(f'Average Price: ${average_price}')
# print(f'Number of Purchases: {total_purchases}')
# print(f'Total Revenue: ${total_rev}')

pd.DataFrame({"Number of Unique Items": [unique_items],
              "Average Price": [average_price],
              "Number of Purchases": [total_purchases],
              "Total Revenue": [total_rev]
             })

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [10]:
# Gender Demographics:: Male

male_df = pymoli_df.loc[pymoli_df.Gender == 'Male', :]
total_male = len(male_df['SN'].unique())
male_df;

In [11]:
# Gender Demographics: Female

female_df = pymoli_df.loc[pymoli_df.Gender == 'Female', :]
total_female = len(female_df['SN'].unique())
female_df;

In [12]:
# Gender Demographics: Other

other_df = pymoli_df.loc[pymoli_df.Gender == 'Other / Non-Disclosed', :]
total_other = len(other_df['SN'].unique())
other_df;

In [13]:
# Gender Demographics - Clean up
# Percentage of Players: Male
pcent_male = round(((total_male/player_count) * 100), 2)
# print(f'Male Total: {total_male} & {pcent_male}')

# Percentage of Players: Female
pcent_female = round(((total_female/player_count) * 100), 2)
# print(f'Female Total: {total_female} & {pcent_female}')

# Percentage of Players: Other
pcent_other = round(((total_other/player_count) * 100), 2)
# print(f'Other Total: {total_other} & {pcent_other}')

gen_index = ['Male', 'Female', 'Other / Non-Disclosed']

pd.DataFrame({"Total Count": [total_male, total_female, total_other],
              "Percentage of Players": [pcent_male, pcent_female, pcent_other]
             }, index=gen_index)

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [14]:
#  Purchasing Analysis (Gender) - Purchase Counts

male_purchase = len(male_df)
female_purchase = len(female_df)
other_purchase = len(other_df)

In [15]:
#  Purchasing Analysis (Gender) - Total Purchase Value

male_total_sales = male_df['Price']
male_total_rev = male_total_sales.sum()

female_total_sales = female_df['Price']
female_total_rev = female_total_sales.sum()

other_total_sales = other_df['Price']
other_total_rev = other_total_sales.sum()

In [16]:
#  Purchasing Analysis (Gender) - Avg Purchase Price

avg_male_price = round((male_total_rev/male_purchase),2)
avg_female_price = round((female_total_rev/female_purchase),2)
avg_other_price = round((other_total_rev/other_purchase),2)

In [17]:
#  Purchasing Analysis (Gender) - Avg Total Purchase per Person

avg_tot_per_male = round((male_total_rev / total_male),2)
avg_tot_per_female = round((female_total_rev / total_female),2)
avg_tot_per_other = round((other_total_rev / total_other),2)

In [18]:
# DataFrame of Purchasing Analysis by Gender


gen_index = ['Male', 'Female', 'Other / Non-Disclosed']
pd.DataFrame({"Purchase Count": [male_purchase,female_purchase,other_purchase],
              "Average Purchase Price": [avg_male_price,avg_female_price,avg_other_price],
              "Total Purchase Value": [male_total_rev,female_total_rev,other_total_rev],
              "Avg Total Purchase per Person": [avg_tot_per_male,avg_tot_per_female,avg_tot_per_other]
             }, index=gen_index)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.02,1967.64,4.07
Female,113,3.20,361.94,4.47
Other / Non-Disclosed,15,3.35,50.19,4.56

In [19]:
# Age Demographics - used helper code from GitLab
#Establish Bins

age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [22]:
# Age Demographics - used helper code from GitLab
# Categorize the existing players using the age bins

pymoli_df['Age Ranges'] = pd.cut(pymoli_df['Age'], age_bins, labels=group_names)

# Calculate the Numbers and Percentages by Age Group
age_demographics_totals = pymoli_df["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / player_count
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

# Display Age Demographics Table
age_demographics = age_demographics.sort_index()
age_demographics

       Total Count  Percentage of Players
<10             23               0.039931
10-14           28               0.048611
15-19          136               0.236111
20-24          365               0.633681
25-29          101               0.175347
30-34           73               0.126736
35-39           41               0.071181
40+             13               0.022569

In [ ]:
# Top Purchasers 

user_total = pymoli_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = pymoli_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = pymoli_df.groupby(["SN"]).count()["Price"].rename("Purchase Count")

In [ ]:
# Top Purchasers 
# Convert to DataFrame

user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": round(user_average,2), "Purchase Count": user_count})

# Display Table
user_sorted = user_data.sort_values("Total Purchase Value", ascending=False)

# Display DataFrame
user_sorted.head(5)

In [ ]:
#  Most Profitable Items
# Extract item Data

item_data = pymoli_df.loc[:,["Item ID", "Item Name", "Price"]]

# Perform basic calculations
total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
item_data_pd = pd.DataFrame({"Total Purchase Value": total_item_purchase, "Item Price": average_item_purchase, "Purchase Count": item_count})

# Sort Values
item_data_count_sorted = item_data_pd.sort_values("Purchase Count", ascending=False)

In [ ]:
#Data Cleanup

item_data_count_sorted["Item Price"] = item_data_count_sorted["Item Price"].map("${:,.2f}".format)
item_data_count_sorted["Purchase Count"] = item_data_count_sorted["Purchase Count"].map("{:,}".format)
item_data_count_sorted["Total Purchase Value"] = item_data_count_sorted["Total Purchase Value"].map("${:,.2f}".format)
item_popularity = item_data_count_sorted.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

item_popularity.head(5)

In [ ]:
# Item Table (Sorted by Total Purchase Value)
item_total_purchase = item_data_pd.sort_values("Total Purchase Value", ascending=False)

#Data Cleanup
item_total_purchase["Item Price"] = item_total_purchase["Item Price"].map("${:,.2f}".format)
item_total_purchase["Purchase Count"] = item_total_purchase["Purchase Count"].map("{:,}".format)
item_total_purchase["Total Purchase Value"] = item_total_purchase["Total Purchase Value"].map("${:,.2f}".format)
item_profitable = item_total_purchase.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

item_profitable.head(5)